<ul>
    <li>
        <a href="dashboard.php">
            <div class="menu-element"><strong>&raquo;</strong> Tableau de bord</div>
        </a>
    </li>
    <li>
        <a href="requests.php">
            <div class="menu-element"><strong>&raquo;</strong> Liste des demandes de rappel</div>
        </a>
    </li>
    <li>
        <a href="securespace.php">
            <div class="menu-element"><strong>&raquo;</strong> Espace sécurisé</div>
        </a>
    </li>
    <li>
        <a>
            <div class="menu-element" onclick="toggleAdminMenu()"><strong>&#10006;</strong></div>
        </a>
    </li>
</ul>